:root {
    --background: #2b3142;
    --background-hover: #4a5471;
    --color: #fff;
    --color-hover: #fcb8a7;
    --shadow: 0 1vh 1vh #2b314283, 0 1vh 1vh 0 #fcb8a783;
}
@font-face {
    font-family: raleway-thin;
    src: url("src/Raleway-Thin.ttf");
}
@font-face {
    font-family: raleway-medium;
    src: url("src/Raleway-Medium.ttf");
}
h1, h2, h3, h4, h5, h6 {
    font-family: raleway-thin;
}
a {
    color: var(--background)
}
a:hover {
    color: var(--background-hover);
}
a:visited {
    color: none;
}
::-webkit-scrollbar {width: 0;}
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-family: raleway-medium;
}
.has-bg-img {
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#header {
    background-image: url("src/header.jpg");
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
#header #text {
    width: 40vw;
    height: 20vh;
    position: fixed;
    top: 30vh;
    left: 30vw;
    background-color: var(--background);
    color: var(--color);
    font-size: 4vh;
    text-align: center;
    justify-content: top;
    box-shadow: var(--shadow);
}
#nav, #top-nav {
    position: absolute;
    top: 80vh;
    left: 0;
    background-color: var(--background);
    width: 100vw;
    padding: 7.5vh 0;
    height: 5vh;
    font-size: 4vh;
    text-align: right;
    box-shadow: var(--shadow);
}
#top-nav {
    position: fixed;
    z-index: 7;
    height: 5vh;
    padding: 1vh 0;
    top: 0;
    box-shadow: none;
}
#nav a, #top-nav a {
    color: var(--color);
    text-decoration: none;
    padding-right: 1vw;
    padding-left: 1vw;
    cursor: pointer;
}
#nav a[selected], #top-nav a[selected] {
    color: var(--color-hover)
}
#nav a:hover, #top-nav a:hover {
    color: var(--color-hover);
}
#scroll-tell {
    left: 1vw;
    position: absolute;
    color: var(--color);
}
#search {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100vh;
}
#search input[type="text"] {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 20vh;
    padding: 2vw;
    left: 20vw;
    width: 60vw;
    height: 3vw;
    text-align: left;
    font-size: 3vh;
    border: 1px solid var(--background);
    outline: none;;
}
.item {
    width: 60vw;
    left: 20vw;
    height: 5vh;
    position: relative;
    background-color: var(--background);
    color: var(--color);
    top: 40vh;
    text-align: center;
    cursor: pointer;
    transition: 280ms;
    font-size: 4vh;
    box-shadow: var(--shadow);
}
.item:hover {
    background-color: var(--background-hover);
    color: var(--color-hover);
}
#works {
    text-align: center;
    position: absolute;
    left: 0;
    top: 200vh;
    width: 100vw;
    background-image: url("src/showcase.jpg");
}
.card {
    background-color: var(--background);
    width: 30vw;
    height: 60vh;
    border-radius: 0 0 5px 5px;
    box-shadow: var(--shadow);
    color: var(--color);
    padding: 0.5vh 0.5vw;
    float: left;
    margin: 5vh 1.16vw;
    cursor: pointer;
    position: relative;
    transition: 200ms top, 200ms background-color, 1000ms margin, 1000ms opacity;
    top: 20vh;
}
.animate-card {
    opacity: 0;
    margin-left: 0;
}
.card:hover {
    top: 19vh;
    background-color: var(--background-hover);
}
#show-title, #music-title {
    color: var(--color);
    background-color: var(--background);
    width: 100vw;
    top: 0;
    position: absolute;
    left: 0;
    height: 15vh;
}
#show-title h1, #music-title h1 {
    top: 5vh;
    position: relative;
}
.card-img {
    position: relative;
    width: 31vw;
    height: 35vh;
    left: -0.5vw;
    top: -1vh;
    background-attachment: local;
}
#music-player {
    text-align: center;
    height: 100vh;
    position: absolute;
    left: 0;
    width: 100vw;
    background-color: #fff;
}
#musical-canvas {
    position: absolute;
    top: 15vh;
    left: 0;
}
#player {
    position: absolute;
    bottom: 0;
    height: 10vh;
    opacity: 0.8;
    background-color: var(--background);
    width: 100vw;
    left: 0;
}
#play-button {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    transition: 100ms;
}
.pause-state {
    border-left: 10px solid var(--color);
    border-right: 10px solid var(--color);
    width: 1vw;
    height: 6vh;
}
.play-state {
    width: 0;
    height: 0;
    border: 20px solid var(--background);
    border-left: 20px solid var(--color);
}
#player progress {
    width: 90vw;
    left: 5vw;
    top: 50%;
    height: 2vh;
    transform: translateY(-50%);
    position: absolute;
}
#big-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 10vh solid var(--color);
    width: 0;
    height: 0;
    border-left: 10vh solid var(--background-hover);
    cursor: pointer;
}
#big-play:hover {
    border-left: 10vh solid var(--background);
}
#footer {
    top: 550vh;
    position: absolute;
    height: 100vh;
    background-color: var(--color);
    width: 100vw;
    left: 0;
}
#credits {
    position: relative;
    top: 10vh;
}

#hamburger {
    position: absolute;
    width: 6vw;
    height: 6vh;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translateY(-60%);
    right: 60px;
    cursor: pointer;
}
#line-1, #line-2, #line-3 {
    transition: 200ms;
    height: 1vh;
    margin: 1vh 0;
    width: 60px;
    background-color: var(--color);
}
#line-1.close, #line-2.close, #line-3.close {
    margin: 0;
}
#line-1.close {
    transform: translateY(1vh) rotateZ(45deg);
}
#line-2.close {
    left: 50%;
    width: 0;
}
#line-3.close {
    transform: translateY(-1vh) rotateZ(-45deg);
}

#links {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    text-align: center;
}
#links.close {
    display: none;
}
#links a {
    position: relative;
    top: 20%;
    display: block;
    margin-bottom: 10px;
    font-size: 5vh;
    color: var(--color);
}
#links a:hover {
    color: var(--color-hover);
}

@media screen and (max-width: 1300px) {
    #scroll-tell {
        display: none;
    }
    #header #text {
        width: 100vw;
        left: 0;
    }
}
@media screen and (max-width: 800px) {
    .computer-card {
        display: none;
    }
    .card {
        position: relative;
        width: 90vw;
        margin: 6vh 5vw;
    }
    .card-img {
        width: 91vw;
    }
    #works {
        height: 250vh;
    }
}
@media screen and (min-width: 800px) {
    #hamburger {
        display: none;
    }
    #works {
        height: 170vh;
    }
}
@media screen and (max-width: 750px) {
    .item {
        font-size: 2vh;
    }
}