body {
	background-color: #841818;
}
#container {
	background-color: #dddbb0;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.6),-10px 10px 10px 10px rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90%;
	height: 80%;
	overflow: auto;
}
#container input {
	position: absolute;
	transform: translateX(-50%);
	left: 45%;
	top: 5%;
	font-size: 24px;
	width: 20%;
	height: 5%;
}
#add, #help {
	border: none;
	background-color: #841818;
	color: #fff;
	position: absolute;
	transform: translateX(-50%);
}
#add {
	left: 60%;
	top: 5%;
	width: 10%;
	height: 6%;
}

#add:hover, #help:hover {
	background-color: #a63a3a;
}
#help {
	right: 30px;
	top: 30px;
	border-radius: 50%;
	font-size: 48px;
	width: 60px;
}
* {
	outline: none;
}
.del {
	text-decoration: line-through;
}
.note {
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
	-moz-user-select: none;
	font-size: 24px;
	text-align: center;
	width: 40%;
	border: 5%;
	background-color: #841818;
	color: #fff;
	border: 10px solid #dddbb0;
}
.note:hover {
	background-color: #a63a3a;
}
@media only screen and (max-width: 600px) {
	.note {
		width: 80%;
	}
	#container input {
		width: 80%;
	}
	#add{
		width: 15%;
		height: 6.13%;
		left: 90%;
	}
	.note:hover {
		background-color: #841818;
	}
	#add:hover {
		background-color: #841818;
	}
	#help {
		top: 5px;
		left: 15px;
		border-radius: 50%;
		width: 24px;
		font-size: 16px;
	}
}
.cb {
	border-radius: 50%;
	border: none;
	background-color: #ff0000;
	color: #fff;
	width: 20px;
	height: 20px;
	text-align: center;
	position: relative;
	float: right;
	transform: translate(-25%,15%);
}
.cb:hover {
	background-color: #ee1111;
}
.cb:after {
	content: "x";
}
#dev {
	bottom: 0;
	color: #fff;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	color: #fff;
}
#tit {
	position: absolute;
	top: -20px;
	color: #fff;
	transform: translateX(-50%);
	left: 50%;
}