body {
    overflow: hidden;
    background-color: #E5CDC8;
}
#piano {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
}
.white-key, .black-key {
    box-shadow: 0 2px 2px 0 #00000034, 0 5px 5px 0 #0000006e;
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 0 0 20px 20px;
    transition: 30ms;
}
.white-key {
    padding-top: 240px;
    margin-right: 2px;
    width: 50px;
    height: 80px;
    background-color: #8CFFDA;
}
.black-key {
    top: -140px;
    padding-top: 100px;
    z-index: 2;
    left: -18px;
    margin-right: -35px;
    color: white;
    width: 35px;
    height: 120px;
    background-color: #252627;
}
.pressed {
    box-shadow: 0 0.25px 0.25px 0 #00000034, 0 1px 1px 0 #0000006e;
    color: black;
    background-color: salmon;
}
q {
    position: relative;
    top: 30px;
    font-size: 20px;
}
button {
    transition: 50ms;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 80px;
    cursor: pointer;
    background-color: #29435e;
    color: wheat;
    border: 0;
    font-size: 20px;
}
button:hover {
    color: white;
    opacity: 0.9;
    border-style: solid;
    border-color: #444;
}
#card {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: #252627;
    width: 100%;
    height: 100%;
}
#i1 {
    width: 100%;
    height: 100%;
    top: -40%;
    z-index: 7;
    position: absolute;
    left: 60%;
}
#i2 {
    width: 100%;
    height: 100%;
    top: 40%;
    z-index: 7;
    position: absolute;
    left: -50%;
}
#container {
    z-index: 10;
    text-align: center;
    position: absolute;
    padding: 2.5%;
    background-color: #8A84E2;
    color: #252627;
    width: 20%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 5px 0 #00000034, 0 10px 10px 0 #0000006e;
}
#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #8A84E2;
    z-index: 20;
}
#loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes notloaded {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loader {
    0%{
        top: 0;
        height: 200px;
        opacity: 1;
    }
    50% {
        top: -50px;
        height: 50px;
        opacity: 0.2;
    }
    100%{
        top: 0;
        height: 200px;
        opacity: 1;
    }
}
.bar {
    position: relative;
    animation: loader 400ms infinite;
    display: inline-block;
    height: 200px;
    margin: 0 10px;
    width: 50px;
    background-color: #8CFFDA;
}
.bar:nth-of-type(2) {
    animation-delay: 100ms;
}
.bar:nth-of-type(3) {
    animation-delay: 200ms;
}
.bar:nth-of-type(4) {
    animation-delay: 300ms;
}
#message {
    opacity: 1;
    animation: notloaded 2s;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 90%;
    font-size: 30px;
    color: lightgreen;
    transform: translate(-50%, -50%);
}