/* Additional css of the page if javascript is disabled */
#header #text {
    position: absolute;
}
#search {
    display: none;
}
#works {
    top: 100vh;
}
.card {
    opacity: 1;
    margin: 0 1.16vw;
}
#music-player {
    display: none;
}
#footer {
    top: 200vh;
    height: 0;
}